XSD/motcTransportNetworkCodeList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema targetNamespace="http://gis-t.motc.gov.tw/standards/schema/TransportNetwork" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:net="http://gis-t.motc.gov.tw/standards/schema/TransportNetwork">
	<xs:simpleType name="CountyValue">
		<xs:annotation>
			<xs:documentation>行政區(縣市)代碼，同身份證首碼。</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>臺北市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation>臺中市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation>基隆市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>台南市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="E">
				<xs:annotation>
					<xs:documentation>高雄市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="F">
				<xs:annotation>
					<xs:documentation>新北市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="G">
				<xs:annotation>
					<xs:documentation>宜蘭縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="H">
				<xs:annotation>
					<xs:documentation>桃園市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="I">
				<xs:annotation>
					<xs:documentation>嘉義市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="J">
				<xs:annotation>
					<xs:documentation>新竹縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="K">
				<xs:annotation>
					<xs:documentation>苗栗縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>南投縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>彰化縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="O">
				<xs:annotation>
					<xs:documentation>新竹市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation>雲林縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Q">
				<xs:annotation>
					<xs:documentation>嘉義縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="T">
				<xs:annotation>
					<xs:documentation>屏東縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="U">
				<xs:annotation>
					<xs:documentation>花蓮縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="V">
				<xs:annotation>
					<xs:documentation>臺東縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="W">
				<xs:annotation>
					<xs:documentation>金門縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X">
				<xs:annotation>
					<xs:documentation>澎湖縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Z">
				<xs:annotation>
					<xs:documentation>連江縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="CountyAuthorityValue">
		<xs:annotation>
			<xs:documentation>縣市政府單位代碼</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="TPEC">
				<xs:annotation>
					<xs:documentation>臺北市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TCHC">
				<xs:annotation>
					<xs:documentation>臺中市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KLU">
				<xs:annotation>
					<xs:documentation>基隆市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TNAC">
				<xs:annotation>
					<xs:documentation>台南市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KHSC">
				<xs:annotation>
					<xs:documentation>高雄市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TPEH">
				<xs:annotation>
					<xs:documentation>新北市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ILN">
				<xs:annotation>
					<xs:documentation>宜蘭縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TYU">
				<xs:annotation>
					<xs:documentation>桃園市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CIAC">
				<xs:annotation>
					<xs:documentation>嘉義市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HCHH">
				<xs:annotation>
					<xs:documentation>新竹縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="MLI">
				<xs:annotation>
					<xs:documentation>苗栗縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="NTO">
				<xs:annotation>
					<xs:documentation>南投縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CGH">
				<xs:annotation>
					<xs:documentation>彰化縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HCHC">
				<xs:annotation>
					<xs:documentation>新竹市</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="YLI">
				<xs:annotation>
					<xs:documentation>雲林縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="CIAH">
				<xs:annotation>
					<xs:documentation>嘉義縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PTN">
				<xs:annotation>
					<xs:documentation>屏東縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HLN">
				<xs:annotation>
					<xs:documentation>花蓮縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TTN">
				<xs:annotation>
					<xs:documentation>臺東縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="KIM">
				<xs:annotation>
					<xs:documentation>金門縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="PGH">
				<xs:annotation>
					<xs:documentation>澎湖縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="LIC">
				<xs:annotation>
					<xs:documentation>連江縣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="TWN">
				<xs:annotation>
					<xs:documentation>全臺</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	
	<xs:simpleType name="LinkDirectionValue">
		<xs:annotation>
			<xs:documentation>通行方向代碼，可為：單向通行(與數化方向同向或反向，預設為同向)、雙向通行。</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="oneway">
				<xs:annotation>
					<xs:documentation>單向通行(與數化方向同向)。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="twoway">
				<xs:annotation>
					<xs:documentation>雙向通行。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoadClassValue">
		<xs:annotation>
			<xs:documentation>道路等級代碼。</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="1E">
				<xs:annotation>
					<xs:documentation>省快速道路。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="1W">
				<xs:annotation>
					<xs:documentation>省道。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="2W">
				<xs:annotation>
					<xs:documentation>縣道。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="3W">
				<xs:annotation>
					<xs:documentation>鄉道。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="4W">
				<xs:annotation>
					<xs:documentation>產業道路。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="AL">
				<xs:annotation>
					<xs:documentation>巷弄。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HU">
				<xs:annotation>
					<xs:documentation>國道附屬道路。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="HW">
				<xs:annotation>
					<xs:documentation>國道。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OR">
				<xs:annotation>
					<xs:documentation>路名不定。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="OT">
				<xs:annotation>
					<xs:documentation>無路名道路。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RD">
				<xs:annotation>
					<xs:documentation>市區道路。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="RE">
				<xs:annotation>
					<xs:documentation>市區快速道路。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="RoadStructureTypeValue">
		<xs:annotation>
			<xs:documentation>道路結構種類代碼。</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="elevated">
				<xs:annotation>
					<xs:documentation>高架或橋樑</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="ground">
				<xs:annotation>
					<xs:documentation>平面道路。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="tunnel">
				<xs:annotation>
					<xs:documentation>隧道。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="underGround">
				<xs:annotation>
					<xs:documentation>地下道路。</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
