XSD/motcRoadEventEnums.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.motc.gov.tw/RoadEvent" xmlns:roevt="http://www.motc.gov.tw/RoadEvent" xmlns:gml="http://www.opengis.net/gml/3.2">
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:simpleType name="BlockedLaneTypeValueType">
		<xs:annotation>
			<xs:documentation>阻斷車道數代碼</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="roevt:BlockedLaneTypeValueEnumerationType roevt:BlockedLaneTypeValueOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="BlockedLaneTypeValueEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="shoulder">
				<xs:annotation>
					<xs:documentation>路肩</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="middle">
				<xs:annotation>
					<xs:documentation>中線</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="right">
				<xs:annotation>
					<xs:documentation>右線</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="left">
				<xs:annotation>
					<xs:documentation>左線</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="all">
				<xs:annotation>
					<xs:documentation>全線</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BlockedLaneTypeValueOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BlockedLengthValueType">
		<xs:annotation>
			<xs:documentation>影響範圍代碼，以影響長度作為列舉來源</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="roevt:BlockedLengthValueEnumerationType roevt:BlockedLengthValueOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="BlockedLengthValueEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="over10KM">
				<xs:annotation>
					<xs:documentation>大於等於10公里</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="lessThan10KM">
				<xs:annotation>
					<xs:documentation>大於等於5公里，小於10公里</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="lessThan5KM">
				<xs:annotation>
					<xs:documentation>大於等於1公里，小於5公里</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="lessThan1KM">
				<xs:annotation>
					<xs:documentation>1km以下</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="BlockedLengthValueOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventImpactValueType">
		<xs:annotation>
			<xs:documentation>事件衝擊代碼</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="roevt:EventImpactValueEnumerationType roevt:EventImpactValueOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="EventImpactValueEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="fullyBlocked">
				<xs:annotation>
					<xs:documentation>完全阻斷交通</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="partiallyBlocked">
				<xs:annotation>
					<xs:documentation>部份阻斷交通</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventImpactValueOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventPeriodValueType">
		<xs:annotation>
			<xs:documentation>事件週期性代碼</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="roevt:EventPeriodValueEnumerationType roevt:EventPeriodValueOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="EventPeriodValueEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="realtime">
				<xs:annotation>
					<xs:documentation>即時事件</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="routine">
				<xs:annotation>
					<xs:documentation>週期性活動</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventPeriodValueOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventProviderValueType">
		<xs:annotation>
			<xs:documentation>訊息來源代碼</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="roevt:EventProviderValueEnumerationType roevt:EventProviderValueOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="EventProviderValueEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="equipment">
				<xs:annotation>
					<xs:documentation>路況資訊設備</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="police">
				<xs:annotation>
					<xs:documentation>縣市警察局</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="constructor">
				<xs:annotation>
					<xs:documentation>施工人員</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="generalHighway">
				<xs:annotation>
					<xs:documentation>公路總局各工務段巡查人員</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="highwayPolice">
				<xs:annotation>
					<xs:documentation>國道公路警察局</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="policeBroadcast">
				<xs:annotation>
					<xs:documentation>警廣</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="user">
				<xs:annotation>
					<xs:documentation>用路人</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventProviderValueOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventStatusValueType">
		<xs:annotation>
			<xs:documentation>事件狀態代碼</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="roevt:EventStatusValueEnumerationType roevt:EventStatusValueOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="EventStatusValueEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="resolved">
				<xs:annotation>
					<xs:documentation>已解除</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="duplicate">
				<xs:annotation>
					<xs:documentation>續報</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="inProgress">
				<xs:annotation>
					<xs:documentation>處理中</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="new">
				<xs:annotation>
					<xs:documentation>新增</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventStatusValueOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventTypeValueType">
		<xs:annotation>
			<xs:documentation>事件類別代碼</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="roevt:EventTypeValueEnumerationType roevt:EventTypeValueOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="EventTypeValueEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="facilityMalfunction">
				<xs:annotation>
					<xs:documentation>設施故障/毀損</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="roadDamage">
				<xs:annotation>
					<xs:documentation>路面毀損</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="naturalDisaster">
				<xs:annotation>
					<xs:documentation>天然災害</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="trafficControl">
				<xs:annotation>
					<xs:documentation>交通管制</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="construction">
				<xs:annotation>
					<xs:documentation>施工</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="congestion">
				<xs:annotation>
					<xs:documentation>壅塞</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="accident">
				<xs:annotation>
					<xs:documentation>事故</xs:documentation>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventTypeValueOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventUnitValueType">
		<xs:annotation>
			<xs:documentation>行政區單位代碼</xs:documentation>
		</xs:annotation>
		<xs:union memberTypes="roevt:EventUnitValueEnumerationType roevt:EventUnitValueOtherType"/>
	</xs:simpleType>
	<xs:simpleType name="EventUnitValueEnumerationType">
		<xs:restriction base="xs:string">
			<xs:enumeration value="Z">
				<xs:annotation>
					<xs:documentation>連江縣</xs:documentation>
					<xs:appinfo>
						<gml:description>Lienchiang County</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="X">
				<xs:annotation>
					<xs:documentation>澎湖縣</xs:documentation>
					<xs:appinfo>
						<gml:description>Penghu County</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="W">
				<xs:annotation>
					<xs:documentation>金門縣</xs:documentation>
					<xs:appinfo>
						<gml:description>Kinmen County</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="V">
				<xs:annotation>
					<xs:documentation>臺東縣</xs:documentation>
					<xs:appinfo>
						<gml:description>Taitung County</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="U">
				<xs:annotation>
					<xs:documentation>花蓮縣</xs:documentation>
					<xs:appinfo>
						<gml:description>Hualien County</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="T">
				<xs:annotation>
					<xs:documentation>屏東縣</xs:documentation>
					<xs:appinfo>
						<gml:description>Pingtung County</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="Q">
				<xs:annotation>
					<xs:documentation>嘉義縣</xs:documentation>
					<xs:appinfo>
						<gml:description>Chiayi County</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="P">
				<xs:annotation>
					<xs:documentation>雲林縣</xs:documentation>
					<xs:appinfo>
						<gml:description>Yunlin County</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="O">
				<xs:annotation>
					<xs:documentation>新竹市</xs:documentation>
					<xs:appinfo>
						<gml:description>Hsinchu City</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="N">
				<xs:annotation>
					<xs:documentation>彰化縣</xs:documentation>
					<xs:appinfo>
						<gml:description>Changhua County</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="M">
				<xs:annotation>
					<xs:documentation>南投縣</xs:documentation>
					<xs:appinfo>
						<gml:description>Nantou County</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="K">
				<xs:annotation>
					<xs:documentation>苗栗縣</xs:documentation>
					<xs:appinfo>
						<gml:description>Miaoli County</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="J">
				<xs:annotation>
					<xs:documentation>新竹縣</xs:documentation>
					<xs:appinfo>
						<gml:description>Hsinchu County</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="I">
				<xs:annotation>
					<xs:documentation>嘉義市</xs:documentation>
					<xs:appinfo>
						<gml:description>Chiayi City</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="H">
				<xs:annotation>
					<xs:documentation>桃園市</xs:documentation>
					<xs:appinfo>
						<gml:description>Taoyuan City</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="G">
				<xs:annotation>
					<xs:documentation>宜蘭縣</xs:documentation>
					<xs:appinfo>
						<gml:description>Yilan County</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="F">
				<xs:annotation>
					<xs:documentation>新北市</xs:documentation>
					<xs:appinfo>
						<gml:description>New Taipei City</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="E">
				<xs:annotation>
					<xs:documentation>高雄市</xs:documentation>
					<xs:appinfo>
						<gml:description>Kaohsiung City</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="D">
				<xs:annotation>
					<xs:documentation>台南市</xs:documentation>
					<xs:appinfo>
						<gml:description>Tainan City</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="C">
				<xs:annotation>
					<xs:documentation>基隆市</xs:documentation>
					<xs:appinfo>
						<gml:description>Keelung City</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="B">
				<xs:annotation>
					<xs:documentation>臺中市</xs:documentation>
					<xs:appinfo>
						<gml:description>Taichung City</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
			<xs:enumeration value="A">
				<xs:annotation>
					<xs:documentation>臺北市</xs:documentation>
					<xs:appinfo>
						<gml:description>Taipei City</gml:description>
					</xs:appinfo>
				</xs:annotation>
			</xs:enumeration>
		</xs:restriction>
	</xs:simpleType>
	<xs:simpleType name="EventUnitValueOtherType">
		<xs:restriction base="xs:string">
			<xs:pattern value="other: \w{2,}"/>
		</xs:restriction>
	</xs:simpleType>
</xs:schema>
