XSD/motcRoadNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.motc.gov.tw/RoadNetwork" xmlns:ro="http://www.motc.gov.tw/RoadNetwork" version="1.0" xmlns:gml="http://www.opengis.net/gml/3.2" xmlns:net="http://www.motc.gov.tw/TransportNetwork" xmlns:base="http://www.motc.gov.tw/BaseTypes">
	<xs:include schemaLocation="motcRoadNetworkEnums.xsd"/>
	<xs:import namespace="http://www.motc.gov.tw/BaseTypes" schemaLocation="BaseTypes.xsd"/>
	<xs:import namespace="http://www.motc.gov.tw/TransportNetwork" schemaLocation="motcTransportNetwork.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<gml:gmlProfileSchema>http://schemas.opengis.net/gml/3.2.1/gml.xsd</gml:gmlProfileSchema>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="NumberOfLanes" type="ro:NumberOfLanesType" substitutionGroup="net:NetworkCharacteristic">
		<xs:annotation>
			<xs:documentation>車道數，可呈線型分佈於某路段。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NumberOfLanesType">
		<xs:complexContent>
			<xs:extension base="net:NetworkCharacteristicType">
				<xs:sequence>
					<xs:element name="numberOfLanes" type="xs:integer">
						<xs:annotation>
							<xs:documentation>車道數</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NumberOfLanesPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:NumberOfLanes"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RoadIdentity" type="ro:RoadIdentityType" substitutionGroup="net:NetworkCharacteristic">
		<xs:annotation>
			<xs:documentation>道路識別，隨道路等級不同而異，會有多個道路等級共線或有道路無路名的情況。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RoadIdentityType">
		<xs:complexContent>
			<xs:extension base="net:NetworkCharacteristicType">
				<xs:sequence>
					<xs:element name="roadName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>相對於道路等級的唯一路名。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roadCode" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>僅道路等級為省(1W/1U)縣(2W/2U)鄉(3W/3U)道之道路才有</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roadClass" type="ro:RoadClassValueType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>道路等級</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roadAliasName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>某些道路有等級路名以外的名稱，如國1別名為中山高速公路，國2別名為福爾摩沙高速公路。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="laneName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>巷名，僅道路等級為巷弄(AL)之道路才有</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="alleyName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>弄名，僅道路等級為巷弄(AL)之道路才有</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RoadIdentityPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:RoadIdentity"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RoadLinearReference" type="ro:RoadLinearReferenceType" substitutionGroup="net:SimpleLinearReference">
		<xs:annotation>
			<xs:documentation>提供三種道路專屬線型參照起迄點的紀錄方式，包括：門牌地址、道路里程標識、經緯度。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RoadLinearReferenceType">
		<xs:complexContent>
			<xs:extension base="net:SimpleLinearReferenceType">
				<xs:sequence>
					<xs:element name="toPoint" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>道路線型參照之終止點，適用於終止點有坐標之情況。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="toMileage" type="gml:LengthType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>道路線型參照之終止里程數，僅適用於有里程標之道路。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="toAddress" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>道路線型參照之終止地址，僅適用於有門牌之市區道路。</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="base:Address"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="fromPoint" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>道路線型參照之起始點，適用於起始點有坐標之情況。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fromMileage" type="gml:LengthType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>道路線型參照之起始里程數，僅適用於有里程標之道路。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fromAddress" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>道路線型參照之起始地址，僅適用於有門牌之市區道路。</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="base:Address"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RoadLinearReferencePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:RoadLinearReference"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RoadPointReference" type="ro:RoadPointReferenceType" substitutionGroup="net:SimplePointReference">
		<xs:annotation>
			<xs:documentation>僅作用於道路網路線型元件之某處的點參照，位置可用經緯度(atPoint)、門牌地址(address)或靠近之路口(nearRoadNode)進行定義，主要考量資料收集的方便性。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RoadPointReferenceType">
		<xs:complexContent>
			<xs:extension base="net:SimplePointReferenceType">
				<xs:sequence>
					<xs:element name="nearRoadNode" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>道路點參照最鄰近之道路節點，適用於點參照附近有道路節點資訊時。</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="ro:RoadNode"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="atPoint" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>道路點參照之點位，僅適用於點參照有坐標之情況。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="atAddress" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>道路點參照之地址，僅適用於有門牌之市區道路。</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="base:Address"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RoadPointReferencePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:RoadPointReference"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RoadWidth" type="ro:RoadWidthType" substitutionGroup="net:NetworkCharacteristic">
		<xs:annotation>
			<xs:documentation>路寬，單位為公尺，可呈線型分佈於某路段。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RoadWidthType">
		<xs:complexContent>
			<xs:extension base="net:NetworkCharacteristicType">
				<xs:sequence>
					<xs:element name="width" type="gml:MeasureType"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RoadWidthPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:RoadWidth"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SpeedLimit" type="ro:SpeedLimitType" substitutionGroup="net:NetworkCharacteristic">
		<xs:annotation>
			<xs:documentation>道路速限，單位為km/hr，可呈線型分佈於某路段。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SpeedLimitType">
		<xs:complexContent>
			<xs:extension base="net:NetworkCharacteristicType">
				<xs:sequence>
					<xs:element name="vehicleType" type="ro:VehicleTypeValueType">
						<xs:annotation>
							<xs:documentation>速度限制之車種。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="speedLimitValue" type="gml:SpeedType">
						<xs:annotation>
							<xs:documentation>速度限制之速度值。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="speedLimitMinMaxType" type="ro:SpeedLimitMinMaxValueType">
						<xs:annotation>
							<xs:documentation>速度限制種類，最高限速或最低限速。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SpeedLimitPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:SpeedLimit"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Road" type="ro:RoadType" substitutionGroup="net:LinkSet">
		<xs:annotation>
			<xs:documentation>多個相連或相關(如: 相同路名或主管機關)的路段或路段序列之組合。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RoadType">
		<xs:complexContent>
			<xs:extension base="net:LinkSetType">
				<xs:sequence>
					<xs:element name="roadID" type="xs:string">
						<xs:annotation>
							<xs:documentation>道路唯一識別碼。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RoadPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:Road"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RoadArea" type="ro:RoadAreaType" substitutionGroup="net:NetworkArea">
		<xs:annotation>
			<xs:documentation>包含行車範圍與道路附屬設施(如人行道)之全部道路區域。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RoadAreaType">
		<xs:complexContent>
			<xs:extension base="net:NetworkAreaType">
				<xs:sequence>
					<xs:element name="roadAreaID" type="xs:string">
						<xs:annotation>
							<xs:documentation>道路範圍唯一識別碼。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RoadAreaPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:RoadArea"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RoadLink" type="ro:RoadLinkType" substitutionGroup="net:Link">
		<xs:annotation>
			<xs:documentation>兩路段節點之線型連接，可單線表示雙向，亦可雙線分別表示相反之行車方向</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RoadLinkType">
		<xs:complexContent>
			<xs:extension base="net:LinkType">
				<xs:sequence>
					<xs:element name="trivial" type="xs:boolean" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>於路口處因數化方式產生的短路段，稱為無義路段。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="structureType" type="ro:RoadStructureTypeValueType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>道路結構。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="roadLinkID" type="xs:string">
						<xs:annotation>
							<xs:documentation>路段唯一識別碼。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="formOfRoad" type="ro:FormOfRoadValueType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>道路類型。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="bridgeTunnelName" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>橋樑或隧道名稱。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RoadLinkPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:RoadLink"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RoadLinkSequence" type="ro:RoadLinkSequenceType" substitutionGroup="net:LinkSequence">
		<xs:annotation>
			<xs:documentation>同行車方向的多個連續路段，其上各位置均可被明確識別(如: 使用起始點+距離)</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RoadLinkSequenceType">
		<xs:complexContent>
			<xs:extension base="net:LinkSequenceType">
				<xs:sequence>
					<xs:element name="roadLinkSeqID" type="xs:string">
						<xs:annotation>
							<xs:documentation>路段序列唯一識別碼。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RoadLinkSequencePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:RoadLinkSequence"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RoadMarkerPost" type="ro:RoadMarkerPostType" substitutionGroup="net:MarkerPost">
		<xs:annotation>
			<xs:documentation>路徑(Route)或道路沿線用以標示距起始點距離的標識物(通常有固定常度之間隔)。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RoadMarkerPostType">
		<xs:complexContent>
			<xs:extension base="net:MarkerPostType">
				<xs:sequence>
					<xs:element name="postTag" type="xs:string">
						<xs:annotation>
							<xs:documentation>道路里程標識名稱，如：16K+500，通常可對應里程數(mileage)。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RoadMarkerPostPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:RoadMarkerPost"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RoadNetwork" type="ro:RoadNetworkType" substitutionGroup="net:Network">
		<xs:annotation>
			<xs:documentation>道路網路。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RoadNetworkType">
		<xs:complexContent>
			<xs:extension base="net:NetworkType">
				<xs:sequence>
					<xs:element name="roadNetworkID" type="xs:string">
						<xs:annotation>
							<xs:documentation>道路網路唯一識別碼。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RoadNetworkPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:RoadNetwork"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RoadNode" type="ro:RoadNodeType" substitutionGroup="net:Node">
		<xs:annotation>
			<xs:documentation>路段端點或連接點。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RoadNodeType">
		<xs:complexContent>
			<xs:extension base="net:NodeType">
				<xs:sequence>
					<xs:element name="roadNodeID" type="xs:string">
						<xs:annotation>
							<xs:documentation>與通用版電子地圖路口編碼一致。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="formOfRoadNode" type="ro:FormOfRoadNodeValueType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>道路節點種類</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RoadNodePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:RoadNode"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="RoadServiceArea" type="ro:RoadServiceAreaType" substitutionGroup="net:NetworkArea">
		<xs:annotation>
			<xs:documentation>道路沿線提供特定服務之區域(如加油站, 休息區, 收費站)。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="RoadServiceAreaType">
		<xs:complexContent>
			<xs:extension base="net:NetworkAreaType">
				<xs:sequence>
					<xs:element name="roadServiceAreaID" type="xs:string">
						<xs:annotation>
							<xs:documentation>道路服務區唯一識別碼。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="RoadServiceAreaPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:RoadServiceArea"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="VehicleTrafficArea" type="ro:VehicleTrafficAreaType" substitutionGroup="net:NetworkArea">
		<xs:annotation>
			<xs:documentation>可供車輛通行的區域(快慢車道及路肩)。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VehicleTrafficAreaType">
		<xs:complexContent>
			<xs:extension base="net:NetworkAreaType">
				<xs:sequence>
					<xs:element name="verticalTrafficAreaID" type="xs:string">
						<xs:annotation>
							<xs:documentation>行車範圍唯一識別碼。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VehicleTrafficAreaPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="ro:VehicleTrafficArea"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>
