XSD/motcTransportNetwork.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified" targetNamespace="http://www.motc.gov.tw/TransportNetwork" xmlns:net="http://www.motc.gov.tw/TransportNetwork" version="1.0" xmlns:gml="http://www.opengis.net/gml/3.2">
	<xs:include schemaLocation="motcTransportNetworkEnums.xsd"/>
	<xs:import namespace="http://www.opengis.net/gml/3.2" schemaLocation="http://schemas.opengis.net/gml/3.2.1/gml.xsd"/>
	<xs:annotation>
		<xs:appinfo>
			<gml:gmlProfileSchema>http://schemas.opengis.net/gml/3.2.1/gml.xsd</gml:gmlProfileSchema>
		</xs:appinfo>
	</xs:annotation>
	<xs:element name="AccessRestriction" type="net:AccessRestrictionType" substitutionGroup="net:NetworkCharacteristic">
		<xs:annotation>
			<xs:documentation>通行限制。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="AccessRestrictionType">
		<xs:complexContent>
			<xs:extension base="net:NetworkCharacteristicType">
				<xs:sequence>
					<xs:element name="restrictionType" type="net:AccessRestrictionValueType">
						<xs:annotation>
							<xs:documentation>限制類型。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="AccessRestrictionPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:AccessRestriction"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Event" type="net:EventType" substitutionGroup="net:NetworkCharacteristic">
		<xs:annotation>
			<xs:documentation>發生於運輸網路中的特定事件，如：壅塞、事故等。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="EventType">
		<xs:complexContent>
			<xs:extension base="net:NetworkCharacteristicType">
				<xs:sequence>
					<xs:element name="updateTime" type="xs:dateTime">
						<xs:annotation>
							<xs:documentation>詮釋資料更新時間</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:string">
						<xs:annotation>
							<xs:documentation>事件描述。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="EventPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:Event"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="LinkReference" type="net:LinkReferenceType" substitutionGroup="net:NetworkReference">
		<xs:annotation>
			<xs:documentation>參考線形(Linear)網路元件，如連結(Link)或連結序列(LinkSequence)的一種網路位置參照。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="LinkReferenceType">
		<xs:complexContent>
			<xs:extension base="net:NetworkReferenceType">
				<xs:sequence>
					<xs:element name="toNode" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>與fromNode共同定義連結方向之用。</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="net:Node"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="fromNode" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>與toNode共同定義連結方向之用。</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="net:Node"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
					<xs:element name="direction" type="net:LinkDirectionValueType">
						<xs:annotation>
							<xs:documentation>參照線形網路元件時的方向，可為單向或雙向。單向又分與元件數化方向同向或反向兩種。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LinkReferencePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:LinkReference"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="NetworkCharacteristic" type="net:NetworkCharacteristicType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>網路元件上的一點或線形網路元件的一部份之特性或現象。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NetworkCharacteristicType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="networkRef" type="net:NetworkReferencePropertyType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="validTo" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>網路屬性失效時間。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validFrom" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>網路屬性生效時間。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NetworkCharacteristicPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:NetworkCharacteristic"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="NetworkReference" type="net:NetworkReferenceType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>網路位置參照的最上層類別。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NetworkReferenceType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="element" type="net:NetworkElementPropertyType" minOccurs="0" maxOccurs="1"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NetworkReferencePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:NetworkReference"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SimpleLinearReference" type="net:SimpleLinearReferenceType" substitutionGroup="net:LinkReference">
		<xs:annotation>
			<xs:documentation>僅作用於線形網路元件一部份的線形參照，作用範圍以網路元件之端點為起始參考點的兩個位置進行定義。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SimpleLinearReferenceType">
		<xs:complexContent>
			<xs:extension base="net:LinkReferenceType">
				<xs:sequence>
					<xs:element name="toPosition" type="gml:LengthType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>線形參照結束位置距網路元件之參考點的距離。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="offset" type="gml:LengthType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>參照位置橫向偏離網路元件的距離。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fromPosition" type="gml:LengthType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>線形參照起始位置距網路元件之參考點的縱向距離。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SimpleLinearReferencePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:SimpleLinearReference"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="SimplePointReference" type="net:SimplePointReferenceType" substitutionGroup="net:LinkReference">
		<xs:annotation>
			<xs:documentation>僅作用於線形網路元件之某處的點參照，作用範圍以網路元件之端點為起始參考點的位置進行定義。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="SimplePointReferenceType">
		<xs:complexContent>
			<xs:extension base="net:LinkReferenceType">
				<xs:sequence>
					<xs:element name="offset" type="gml:LengthType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>參照位置橫向偏離網路元件的距離。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="atPosition" type="gml:LengthType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>參照位置距網路元件之參考點的縱向距離。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="SimplePointReferencePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:SimplePointReference"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="TrafficFlowDirection" type="net:TrafficFlowDirectionType" substitutionGroup="net:NetworkCharacteristic">
		<xs:annotation>
			<xs:documentation>指明線形網路元件，如連結(Link)之可通行之方向。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TrafficFlowDirectionType">
		<xs:complexContent>
			<xs:extension base="net:NetworkCharacteristicType">
				<xs:sequence>
					<xs:element name="direction" type="net:LinkDirectionValueType">
						<xs:annotation>
							<xs:documentation>線形網路元件的通行方向，可為單向或雙向。單向又分與元件數化方向同向或反向兩種。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TrafficFlowDirectionPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:TrafficFlowDirection"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="VehicleRestriction" type="net:VehicleRestrictionType" substitutionGroup="net:NetworkCharacteristic">
		<xs:annotation>
			<xs:documentation>交通工具限制。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VehicleRestrictionType">
		<xs:complexContent>
			<xs:extension base="net:NetworkCharacteristicType">
				<xs:sequence>
					<xs:element name="restrictionType" type="net:VehicleRestrictionValueType">
						<xs:annotation>
							<xs:documentation>限制類型。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="measure" type="gml:MeasureType">
						<xs:annotation>
							<xs:documentation>對應於交通工具限制類型之度量，如高度、速度、寬度等。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VehicleRestrictionPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:VehicleRestriction"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="VerticalPosition" type="net:VerticalPositionType" substitutionGroup="net:NetworkCharacteristic">
		<xs:annotation>
			<xs:documentation>相對於網路元件的垂直位置，可為地面(同平面)、地底或懸空。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="VerticalPositionType">
		<xs:complexContent>
			<xs:extension base="net:NetworkCharacteristicType">
				<xs:sequence>
					<xs:element name="position" type="net:VerticalPositionValueType">
						<xs:annotation>
							<xs:documentation>相對於網路元件的垂直位置，可為地面(同平面)、地底或懸空。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="VerticalPositionPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:VerticalPosition"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="DirectedLink" type="net:DirectedLinkType" substitutionGroup="gml:AbstractObject">
		<xs:annotation>
			<xs:documentation>有向的連結(Link)，其方向性僅可為正或負。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="DirectedLinkType">
		<xs:sequence>
			<xs:element name="link" type="net:LinkPropertyType"/>
			<xs:element name="direction" type="gml:SignType">
				<xs:annotation>
					<xs:documentation>與線段數化方向同向為正，反之為負。</xs:documentation>
				</xs:annotation>
			</xs:element>
		</xs:sequence>
	</xs:complexType>
	<xs:complexType name="DirectedLinkPropertyType">
		<xs:sequence>
			<xs:element ref="net:DirectedLink"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="GeneralizedLink" type="net:GeneralizedLinkType" substitutionGroup="net:NetworkElement">
		<xs:annotation>
			<xs:documentation>為連結(Link)與連結序列(LinkSequence)的抽象父類別。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="GeneralizedLinkType">
		<xs:complexContent>
			<xs:extension base="net:NetworkElementType">
				<xs:sequence/>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="GeneralizedLinkPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:GeneralizedLink"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Link" type="net:LinkType" substitutionGroup="net:GeneralizedLink">
		<xs:annotation>
			<xs:documentation>連接兩節點(Node)之1維物件，如：道路網路的路段或軌道網路的軌道等。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="LinkType">
		<xs:complexContent>
			<xs:extension base="net:GeneralizedLinkType">
				<xs:sequence>
					<xs:element name="endNode" type="net:NodePropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>net:spokeEnd</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="startNode" type="net:NodePropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>net:spokeStart</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="geometry" type="gml:CurvePropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>線段之1維(1-dimension)幾何，可衍生其線形、起迄點、長度等資訊。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LinkPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:Link"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="LinkSequence" type="net:LinkSequenceType" substitutionGroup="net:GeneralizedLink">
		<xs:annotation>
			<xs:documentation>一或多個連續的有向連結所構成之集合，如：行車路徑(Route)或航線等。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="LinkSequenceType">
		<xs:complexContent>
			<xs:extension base="net:GeneralizedLinkType">
				<xs:sequence>
					<xs:element name="link" minOccurs="1" maxOccurs="unbounded">
						<xs:annotation>
							<xs:documentation>序列中所有的有向線段。</xs:documentation>
						</xs:annotation>
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="net:DirectedLink"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LinkSequencePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:LinkSequence"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="LinkSet" type="net:LinkSetType" substitutionGroup="net:NetworkElement">
		<xs:annotation>
			<xs:documentation>一個或多個連結(Link)或連結序列(LinkSequence)所組成的集合。如：高速公路為包含兩個行車方向的多個有向路段(LinkSequence)以及各個匝道路段(Link)的組合。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="LinkSetType">
		<xs:complexContent>
			<xs:extension base="net:NetworkElementType">
				<xs:sequence>
					<xs:element name="link" type="net:GeneralizedLinkPropertyType" minOccurs="1" maxOccurs="unbounded"/>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="LinkSetPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:LinkSet"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="MarkerPost" type="net:MarkerPostType" substitutionGroup="net:TransportPoint">
		<xs:annotation>
			<xs:documentation>以同一參考點為距離計算起始點之里程標識。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="MarkerPostType">
		<xs:complexContent>
			<xs:extension base="net:TransportPointType">
				<xs:sequence>
					<xs:element name="route" type="net:LinkSetPropertyType"/>
					<xs:element name="sequenceNo" type="xs:integer">
						<xs:annotation>
							<xs:documentation>自里程起始點起算，至該里程標識的序位號碼，從1起算。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="mileage" type="gml:LengthType">
						<xs:annotation>
							<xs:documentation>自里程起始點起算，至該里程標識的距離。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="fictitious" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>表明里程識別是否設有實體樁。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="MarkerPostPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:MarkerPost"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Network" type="net:NetworkType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>代表運輸網路整體。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NetworkType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="element" type="net:NetworkElementPropertyType" minOccurs="1" maxOccurs="unbounded"/>
					<xs:element name="typeOfTransport" type="net:TransportTypeEnumType">
						<xs:annotation>
							<xs:documentation>網路種類，包括：道路、軌道、航空及水運網路。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="networkID" type="xs:string">
						<xs:annotation>
							<xs:documentation>運輸網路之唯一識別碼。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="linkFicticious" type="xs:boolean">
						<xs:annotation>
							<xs:documentation>表明線段是否具實體線形或僅為起迄點之間的虛擬直線。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="description" type="xs:string" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>網路名稱。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NetworkPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:Network"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="NetworkArea" type="net:NetworkAreaType" substitutionGroup="net:NetworkElement">
		<xs:annotation>
			<xs:documentation>運輸網路中2維之空間物件，如：道路範圍、運輸場站等。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NetworkAreaType">
		<xs:complexContent>
			<xs:extension base="net:NetworkElementType">
				<xs:sequence>
					<xs:element name="geometry" type="gml:SurfacePropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>網路區域之2維(2-dimension)幾何，可衍生所在位置、範圍、周長與面積等資訊。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NetworkAreaPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:NetworkArea"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="NetworkElement" type="net:NetworkElementType" substitutionGroup="gml:AbstractFeature">
		<xs:annotation>
			<xs:documentation>運輸網路中各式元件最上層之抽象型別，供其下各實體類別擴延伸及擴充。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NetworkElementType">
		<xs:complexContent>
			<xs:extension base="gml:AbstractFeatureType">
				<xs:sequence>
					<xs:element name="validTo" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>元件失效時間。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="validFrom" type="xs:dateTime" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>元件生效時間。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="referedProperty" minOccurs="0" maxOccurs="unbounded">
						<xs:complexType>
							<xs:complexContent>
								<xs:extension base="gml:AbstractMemberType">
									<xs:sequence>
										<xs:element ref="net:NetworkCharacteristic"/>
									</xs:sequence>
								</xs:extension>
							</xs:complexContent>
						</xs:complexType>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NetworkElementPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:NetworkElement"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="Node" type="net:NodeType" substitutionGroup="net:NetworkElement">
		<xs:annotation>
			<xs:documentation>連結(Link)的起始或終點，為運輸網路中重要的位置點之一。如：道路網路的路口，或軌道網路的車站等。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="NodeType">
		<xs:complexContent>
			<xs:extension base="net:NetworkElementType">
				<xs:sequence>
					<xs:element name="spokeEnd" type="net:LinkPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>net:endNode</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="spokeStart" type="net:LinkPropertyType" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
							<xs:appinfo>
								<gml:reversePropertyName>net:startNode</gml:reversePropertyName>
							</xs:appinfo>
						</xs:annotation>
					</xs:element>
					<xs:element name="geometry" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>節點之零(0-dimension)維幾何，可衍生所在位置之坐標。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="NodePropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:Node"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="POI" type="net:POIType" substitutionGroup="net:TransportPoint">
		<xs:annotation>
			<xs:documentation>具有特殊意義或用途的點位，如：地標、地物。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="POIType">
		<xs:complexContent>
			<xs:extension base="net:TransportPointType">
				<xs:sequence>
					<xs:element name="poiType" type="net:POITypeValueType">
						<xs:annotation>
							<xs:documentation>興趣點種類。</xs:documentation>
						</xs:annotation>
					</xs:element>
					<xs:element name="name" type="xs:string">
						<xs:annotation>
							<xs:documentation>興趣點名稱。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="POIPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:POI"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
	<xs:element name="TransportPoint" type="net:TransportPointType" substitutionGroup="net:NetworkElement">
		<xs:annotation>
			<xs:documentation>節點以外，運輸網路中任意的空間位置。</xs:documentation>
		</xs:annotation>
	</xs:element>
	<xs:complexType name="TransportPointType">
		<xs:complexContent>
			<xs:extension base="net:NetworkElementType">
				<xs:sequence>
					<xs:element name="geometry" type="gml:PointPropertyType" minOccurs="0" maxOccurs="1">
						<xs:annotation>
							<xs:documentation>運輸點位之零(0-dimension)維幾何，可衍生所在位置之坐標。</xs:documentation>
						</xs:annotation>
					</xs:element>
				</xs:sequence>
			</xs:extension>
		</xs:complexContent>
	</xs:complexType>
	<xs:complexType name="TransportPointPropertyType">
		<xs:sequence minOccurs="0">
			<xs:element ref="net:TransportPoint"/>
		</xs:sequence>
		<xs:attributeGroup ref="gml:AssociationAttributeGroup"/>
		<xs:attributeGroup ref="gml:OwnershipAttributeGroup"/>
	</xs:complexType>
</xs:schema>
